/*
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* General Styles */
html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --color-Black: #000000;
  --color-White: #ffffff;
  --color-Background: #baf1f8;
  --color-FirstDecorate: #ff7f00;
  --color-SecondDecorate: #008055;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 70px 0px;
}

.burger,
.mobile-logo,
.header_menu .mobile-contact {
  display: none;
}

.button {
  display: block;
  font-size: 24px;
  font-weight: 400;
  width: 300px;
  height: 77px;
  border-radius: 10px;
  text-align: center;
}

.site_button--color {
  background-color: var(--color-FirstDecorate);
  color: var(--color-White);
}

.site_button--whatsapp {
  position: relative;
  line-height: 77px;
  background-color: var(--color-SecondDecorate);
  color: var(--color-White);
}

.site_button--whatsapp::before {
  position: absolute;
  left: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/icons8-whatsapp.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.site_button--transparent {
  background-color: transparent;
  color: var(--color-SecondDecorate);
  border: 2px solid var(--color-SecondDecorate);
}

.section_btn {
  margin: 30px auto 0px;
}

.phone {
  color: var(--color-SecondDecorate);
  font-weight: 700;
}

.section_title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  padding: 0px 80px 80px;
}

.section_subtitle {
  font-size: 24px;
  color: var(--color-SecondDecorate);
  font-weight: 700;
}

.text--bold {
  text-align: center;
  font-weight: 700;
}

.site_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site_item--firstColor {
  position: relative;
  padding: 0px 30px 0px 50px;
}

.site_item--firstColor::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 22px;
  border: solid var(--color-FirstDecorate);
  border-width: 0 5px 5px 0;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.site_item--secondColor {
  position: relative;
  padding: 0px 30px 0px 70px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin-bottom: 50px;
}

.site_item--secondColor::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 22px;
  border: solid var(--color-SecondDecorate);
  border-width: 0 5px 5px 0;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.site_item--secondColor::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #cfe6de;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.site_item--number {
  list-style-type: none;
  position: relative;
  padding-left: 70px;
  -ms-flex-preferred-size: calc(33% - 80px);
      flex-basis: calc(33% - 80px);
  margin-bottom: 40px;
}

.site_list-number {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 80px;
  counter-reset: list 0;
}

.site_item--number::before {
  position: absolute;
  display: block;
  left: 0;
  top: 25px;
  counter-increment: list;
  content: counter(list);
  font-size: 100px;
  color: #cfe6de;
  font-weight: 700;
}

/* FORM Back Call */

.form_back-call {
  width: 1037px;
  height: 167px;
  border-radius: 20px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px;
  margin: 0 auto;
}

.form_back-call--input {
  padding: 0px 20px;
  width: 300px;
  height: 77px;
  border-radius: 10px;
  background-color: #fff2e5;
  font-size: 24px;
  line-height: 47px;
  color: #807973;
  font-weight: 400;
}

.form_back-call--link {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding-top: 20px;
}

.form_back-call--link a {
  color: #4d4dff;
  text-decoration: underline;
}

/* Section Promo */

.promo,
.consultation,
.about-us,
footer {
  background-color: var(--color-Background);
}

.header {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_menu-item {
  font-size: 24px;
  margin-left: 60px;
}

.header__phone {
  font-size: 30px;
  font-weight: 700;
}
.promo {
  position: relative;
}

.promo_section {
  padding-top: 50px;
  padding-bottom: 70px;
}
.promo_btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 175px 0px;
}

/* Section  Services*/

.services_list {
  padding: 0px 120px;
}

/* Section Advantage */

.advantage_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage_item {
  -ms-flex-preferred-size: calc(50% - 90px);
      flex-basis: calc(50% - 90px);
  margin-bottom: 70px;
}

.advantage_item .section_subtitle {
  padding-bottom: 25px;
}

/* Section Consultation */

.consultation_form {
  margin: 70px auto;
}

.consultation_whatsapp p {
  text-align: center;
}

/* Section Stage */

.stages_info {
  font-size: 24px;
  line-height: 36px;
  position: relative;
  margin-top: 50px;
  padding: 50px 50px 50px 180px;
  border-radius: 20px;
  background-color: #e5f6ff;
}

.stages_info::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  left: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/icons/tr4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Section Team */

.team_title,
.about-us_title {
  padding-bottom: 50px;
}

.team_title--text,
.about-us_title-text {
  padding-bottom: 75px;
}

.team_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team_photo {
  display: block;
  width: 288px;
  height: 288px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: none;
     object-fit: none;
  margin-bottom: 20px;
}

/*Section About us */

.about-us_item {
  position: relative;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  padding-left: 70px;
  line-height: 30px;
  margin-bottom: 70px;
}

.about-us_item::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 22px;
  border: solid var(--color-FirstDecorate);
  border-width: 0 5px 5px 0;
  left: 20px;
  top: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
}

.about-us_item::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f2e0ce;
  left: 0;
  top: 0;
}

/* Section Question */

.questions_item {
  padding-left: 75px;
  margin-bottom: 50px;
}

.questions_item_title {
  position: relative;
  font-size: 30px;
  color: var(--color-SecondDecorate);
  font-weight: 700;
  margin-bottom: 30px;
}

.questions_item_title::before {
  position: absolute;
  content: "?";
  text-align: center;
  line-height: 50px;
  color: var(--color-FirstDecorate);
  left: -75px;
  top: -50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff2e5;
}

/* Section Clients*/

.clients_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients_list img {
  margin-right: 65px;
}

.footer_list {
  width: 870px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_text-info {
  text-align: center;
  padding-top: 30px;
  font-size: 24px;
  line-height: 36px;
}

/*Section Contact */
.contacts_map {
  position: relative;
  height: 740px;
}
.contacts_block {
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 115px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 40px 65px;
  font-size: 24px;
  line-height: 47px;
  font-weight: 700;
}

/* Popup */

.popup {
  position: fixed;
  display: none;
  width: 100%;
  padding: 245px 0px;
  height: auto;
  top: 90px;
  border-radius: 20%;
  background-color: rgba(129, 142, 143, 0.5);
  z-index: 100;
}

.popup_price {
  height: 100%;
  border-radius: 40px;
  overflow-y: scroll;
}

.popup.is-open {
  display: block;
}

.popup_form {
  margin: 0 auto;
}

.popup_close {
  position: absolute;
  right: 0px;
  top: 80px;
  right: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff2e5;
  color: var(--color-FirstDecorate);
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
}

/* Price Popup */
.price-popup_close {
  position: absolute;
  right: 0px;
  top: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #cfe6de;
  color: var(--color-SecondDecorate);
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
}
.price-popup {
  position: relative;
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
}

.price-popup_info {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.price_table {
  margin-top: 40px;
  width: 100%;
}

.price_table tr {
  position: relative;
}

.price_table tr::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #cfe6de;
  bottom: 0;
  left: 0;
}

.price_table_title {
  font-size: 24px;
  line-height: 48px;
  font-weight: 700;
  color: var(--color-SecondDecorate);
  text-align: left;
}

.price_table thead {
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-align: right;
}

.price_table--threeСol thead th:nth-child(1),
.price_table--fourСol thead th:nth-child(1),
.price_table--twoСol thead th:nth-child(1) {
  text-align: left;
  width: 50%;
}

.price_table--threeСol thead th:nth-child(2) {
  text-align: right;
  width: 25%;
}

.price_table--threeСol thead th:nth-child(3) {
  text-align: right;
  width: 25%;
}

.price_table--fourСol thead th:nth-child(2) {
  text-align: right;
  width: 10%;
}

.price_table--fourСol thead th:nth-child(3),
.price_table--fourСol thead th:nth-child(4) {
  text-align: right;
  width: 20%;
}
.price_table tbody th {
  padding: 10px;
  text-align: left;
  font-weight: 400;
}

.price_table tbody td {
  color: var(--color-SecondDecorate);
  text-align: right;
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
}

.price-popup_note {
  font-size: 18px;
  line-height: 36px;
  padding: 60px 10px;
}

/* Animation */

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.faded {
  -webkit-animation-name: faded;
          animation-name: faded;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes faded {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes faded {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* CALC-FORM */
.calcPrice_subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.calcPrice_info--radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.radio-blocks_list {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.radio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio-block_col {
  width: 33%;
}

.radio-block_col label {
  display: block;
  padding-bottom: 15px;
}

.radio-block label span {
  text-transform: uppercase;
}

.radio-block input {
  display: none;
}

.radio-custom {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px dotted var(--color-SecondDecorate);
  margin-right: 17px;
}

.radio-block input:checked + .radio-custom::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--color-SecondDecorate);
}

.checkout_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout_col {
  width: 50%;
}

.checkout_col label {
  display: block;
  margin-bottom: 18px;
}

.checkout_col input {
  display: none;
}

.checkbox-custom {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 1px dotted var(--color-SecondDecorate);
  margin-right: 17px;
}

.checkbox-custom::before {
  position: absolute;
  display: none;
  content: "";
  width: 6px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  left: 30%;
  top: 10%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.checkout_col input:checked + .checkbox-custom {
  background-color: var(--color-SecondDecorate);
}

.checkout_col input:checked + .checkbox-custom::before {
  display: block;
}

.calcPrice_info--range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
}

.range-block {
  width: 50%;
  margin-bottom: 100px;
  padding-right: 50px;
}

.range-block_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border: 1px solid var(--color-SecondDecorate);
  background-color: #cfe6de;
}

.range_decrement,
.range_icrement {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border-radius: 10px;
  background-color: #cfe6de;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  color: var(--color-SecondDecorate);
  font-weight: 700;
}

.range_value-block {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  display: inline-block;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.range_input-block {
  width: 100%;
  position: absolute;
  bottom: -45px;
  padding: 0px 20px;
}

.range_input-block--value {
  font-size: 26px;
  font-weight: 700;
}

.range_value-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  bottom: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  width: 100%;
  margin-left: 0px;
  font-size: 16px;
  color: #808080;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.range_value-list option {
  padding-top: 20px;
  width: 20px;
  margin-left: 10px;
}

.range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 1px;
  outline: none;
}

.range-thumb::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-SecondDecorate);
  cursor: pointer;
}
.range-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-SecondDecorate);
  cursor: pointer;
}

.range-thumb::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-SecondDecorate);
  cursor: pointer;
}

.calcPrice_total {
  font-size: 24px;
  text-align: center;
}

.calcPrice_total span {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-FirstDecorate);
}

.calcPrice_consultation_form {
  margin-top: 50px;
  text-align: center;
}

.calcPrice_consultation_form form {
  background-color: #fff2e5;
  margin-top: 45px;
}

.calcPrice_consultation_form form input {
  background-color: #fff;
}

/* -----------------MEDIA----------------------------------- */

@media (max-width: 1400px) {
  .container {
    width: 924px;
    padding: 50px 0px;
  }

  .section_title {
    padding: 0px 0px 50px;
    line-height: 1.2;
  }

  .section_subtitle {
    font-size: 20px;
  }

  .advantage_item .section_subtitle {
    padding-bottom: 5px;
  }

  .site_list {
    padding: 0;
  }

  .site_item--firstColor {
    width: 33%;
    padding: 0px 30px 0px 50px;
  }

  .site_item--firstColor:last-child {
    padding-right: 0px;
  }

  .button {
    font-size: 20px;
    width: 250px;
    height: 65px;
  }

  .site_button--whatsapp {
    line-height: 65px;
    text-align: left;
    padding-left: 100px;
  }
  .site_button--whatsapp::before {
    left: 40px;
  }

  .header_menu-item {
    line-height: 38px;
    font-size: 18px;
    margin-left: 40px;
  }

  .header__phone {
    line-height: 38px;
    font-size: 24px;
  }

  .promo_section {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .promo_btn-block {
    margin: 50px 55px 0px;
  }

  .services_list {
    padding: 0px 50px;
  }

  .services_list li:nth-child(n + 3) {
    margin-bottom: 20px;
  }

  .site_item--secondColor:nth-child(3n) {
    padding-right: 0px;
  }
  .site_item--secondColor::after {
    width: 40px;
    height: 40px;
    top: 20px;
  }
  .site_item--secondColor::before {
    width: 10px;
    height: 19px;
    border-width: 0 3px 3px 0;
    left: 15px;
    top: 17px;
  }

  .advantage_item {
    margin-bottom: 45px;
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
  }

  .advantage_item p {
    line-height: 2;
  }

  .site_list-number {
    padding: 0px;
  }

  .form_back-call--input {
    width: 250px;
    height: 65px;
    font-size: 20px;
  }
  .form_back-call {
    width: 850px;
    height: 125px;
    padding: 30px;
  }

  .consultation_form {
    margin: 50px auto;
  }

  .site_item--number {
    -ms-flex-preferred-size: calc(33% - 20px);
        flex-basis: calc(33% - 20px);
  }

  .stages_info {
    font-size: 18px;
    line-height: 30px;
    padding: 40px 40px 40px 130px;
  }

  .stages_info::before {
    width: 50px;
    height: 50px;
  }

  .team_title,
  .about-us_title {
    padding-bottom: 30px;
  }

  .team_title--text,
  .about-us_title-text {
    padding-bottom: 30px;
  }
  .team_list {
    padding-left: 60px;
  }
  .team_photo {
    width: 240px;
    height: 240px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .about-us_list {
    padding: 0;
  }

  .about-us_item {
    position: relative;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 45px;
  }

  .about-us_item:nth-child(odd) {
    padding-right: 40px;
  }

  .about-us_item::after {
    height: 40px;
    width: 40px;
  }

  .about-us_item::before {
    left: 15px;
    width: 10px;
    height: 18px;
    border-width: 0 3px 3px 0;
  }

  .calcPrice_info--radio {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .radio-blocks_list {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .radio-blocks_list:last-child {
    margin-top: 35px;
  }

  .checkout_col {
    padding-right: 60px;
  }

  .calcPrice_total {
    font-size: 20px;
  }

  .calcPrice_consultation_form {
    margin-top: 25px;
  }

  .questions_item_title {
    font-size: 24px;
  }
  .questions_item_title::before {
    line-height: 40px;
    width: 40px;
    height: 40px;
  }

  .contacts_block {
    width: 925px;
    height: 80px;
    font-size: 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts_map {
    height: 600px;
  }

  .footer_text-info {
    font-size: 18px;
  }
}

@media (max-width: 1025px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }

  .container {
    width: 100%;
    padding: 40px 20px;
  }

  .header-container {
    padding: 0px;
  }

  h1 {
    color: var(--color-SecondDecorate);
  }

  .mobile-logo {
    display: block;
    font-size: 24px;
    color: var(--color-SecondDecorate);
    font-weight: 700;
  }

  .big-logo {
    display: none;
  }

  .header {
    width: 100%;
    height: 55px;
    background-color: #fff;
    position: fixed;
    padding: 20px;
    z-index: 1000;
  }

  .section_title {
    text-align: left;
    font-size: 26px;
    line-height: 36px;
    padding: 0px 0px 40px;
  }

  .button {
    width: 100%;
  }

  .site_button--whatsapp {
    text-align: center;
    padding-left: 0px;
  }

  .site_item--firstColor,
  .site_item--secondColor,
  .about-us_item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0px 0px 0px 40px;
    margin-bottom: 30px;
    line-height: 26px;
  }

  .site_item--firstColor::before,
  .site_item--secondColor::before,
  .about-us_item::before {
    border-width: 0 3px 3px 0;
    content: "";
    width: 8px;
    height: 16px;
  }

  .site_item--secondColor::after,
  .about-us_item::after {
    display: none;
  }

  .site_item--firstColor:last-child {
    margin-bottom: 0px;
  }

  .promo_section {
    padding: 80px 20px 40px;
  }

  .promo_btn-block {
    margin: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
  }

  .promo_btn-block .button:not(:last-child) {
    margin-bottom: 20px;
  }
  .services_list {
    padding: 0px;
  }

  .advantage_item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }

  .advantage_item p {
    line-height: 1.5;
  }

  .consultation_form {
    margin: 40px auto;
  }

  .form_back-call {
    width: 100%;
    height: auto;
    padding: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form_back-call--input {
    width: 100%;
    margin-bottom: 20px;
  }

  .consultation_whatsapp p {
    text-align: left;
  }

  .site_item--number {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 40px;
  }
  .stages_info {
    line-height: 24px;
    padding: 80px 20px 20px;
  }
  .stages_info::before {
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .calcPrice_subtitle {
    font-size: 18px;
  }

  .radio-blocks_list {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .radio-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .radio-block_col {
    width: 50%;
  }

  .checkout_list,
  .calcPrice_info--range {
    display: block;
  }
  .checkout_col,
  .range-block {
    width: 100%;
    padding-right: 0px;
  }

  #range1 option[value="20"],
  #range1 option[value="30"],
  #range1 option[value="40"] {
    display: none;
  }
  #range2 option[value="20"],
  #range2 option[value="40"],
  #range2 option[value="50"] {
    display: none;
  }
  #range3 option[value="20"],
  #range3 option[value="40"],
  #range3 option[value="50"] {
    display: none;
  }
  #range4 option[value="50"],
  #range4 option[value="500"],
  #range4 option[value="5000"] {
    display: none;
  }
  #range5 option[value="20"],
  #range5 option[value="40"],
  #range5 option[value="50"] {
    display: none;
  }
  #range6 option[value="6"],
  #range6 option[value="36"],
  #range6 option[value="48"] {
    display: none;
  }

  .range-block {
    margin-bottom: 70px;
  }

  .calcPrice_total {
    font-size: 16px;
  }

  .calcPrice_consultation_form {
    text-align: left;
  }

  .calcPrice_consultation_form form,
  .calcPrice_consultation_form {
    margin-top: 30px;
  }

  .clients_list {
    display: block;
    text-align: center;
  }

  .clients_list img {
    margin: 0px auto 25px;
  }

  .questions_item {
    padding-left: 40px;
    margin-bottom: 40px;
  }

  .questions_item_title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .questions_item_title::before {
    background-color: transparent;
    top: -5px;
    left: -40px;
    font-size: 20px;
  }

  .contacts_map {
    height: 400px;
  }

  .contacts .section_title {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contacts_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 280px;
    margin-top: 20px;
    height: auto;
    padding: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 0px;
    line-height: 36px;
  }

  .footer_list {
    display: block;
    width: 100%;
  }

  .header__phone {
    font-size: 18px;
  }

  .footer_list .header__phone {
    display: block;
    padding: 20px 0px;
  }

  .footer_text-info {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .team_title--text {
    text-align: left;
  }

  .team_list {
    padding-left: 0px;
  }
  .team_item {
    margin: 0 auto;
    width: 200px;
  }
  .team_photo {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  /* Mobile-menu */
  .header__contacts {
    display: none;
  }

  .header_menu .mobile-contact {
    display: block;
}

  .burger {
    display: block;
    height: 20px;
    position: relative;
    z-index: 110;
    cursor: pointer;
    right: 20px;
  }

  .burger-line {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .burger::before,
  .burger::after,
  .burger-line {
    position: absolute;
    left: 0;
    content: "";
    width: 20px;
    height: 2px;
    background-color: var(--color-SecondDecorate);
  }

  .burger:before {
    top: 0px;
  }

  .burger::after {
    bottom: 0;
  }

  .header_menu {
    z-index: 90;
    position: absolute;
    top: 55px;
    opacity: 0;
    left: 0;
    visibility: hidden;
    background-color: #fff;
    width: 100%;
    padding: 0px 20px 80px;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    z-index: -1;
  }

  .header_menu.is-open {
    opacity: 1;
    visibility: visible;
  }

  .header_menu-item {
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 55px;
    border-top: 1px solid #cfe6de;
    margin-left: 0px;
  }

  .mobile-contact {
    display: block;
    margin-top: 20px;
  }

  .header__phone.mobile-contact {
    text-align: center;
    color: #fff;
    border-radius: 10px;
    height: 60px;
    line-height: 60px;
    background-color: var(--color-SecondDecorate);
  }
}
